
@font-face { 
    font-family: "RickandMortyFonts";
    src: url("/my-app/src/assets/fonts/get-schwifty.ttf");
    font-style: Regular;
    font-weight: 400;
}

.header{
    width: 100%;
    max-width: 2000px;
    height: 15vh;
    font-family: Helvetica;
    font-style: italic;
    background-color: #090909;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 100%;
    text-align: center;

}
.logo{
    font-size: 32px;
    letter-spacing: 2px;
    font-weight: 200;
    color:#23bdc7;
    text-shadow: 0px 0px  2px rgba(34, 60, 80, 0.2), 0px 0px 5px rgb(202, 216, 5);
    
}